@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&');

body {
    margin: 0;
    padding: 0;
    background-size: 800% 800%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.93);
}

#nameTypewrite {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .7)
}

#descriptionTypewrite {
    font-size: .9rem;
    color: rgba(255, 255, 255, .7);

    /* make the text less bland */
    font-weight: 300;
}

.container {
    position: relative;
    width: 90%;
    max-width: 850px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: rgba(190, 49, 49, 0.438);
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    margin: 2rem auto;
    width: 100%;
    max-width: calc(100% - 4rem);
}

.profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

}

.profile-pic img {
    width: 8rem;
    height: auto;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;

    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.6);
}

.profile-pic h2 
.res-title h2 {
    margin: 0;
    color: #333;
    animation: slideInLeft 1s ease-in-out;
}

.profile-text {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.profile-text p {
    margin: 0;
    color: #868686;
}

.res-list {
    box-shadow: #000000;
}

.res {
    color: #fcfcfc;
    justify-content: left;
}

.res a {
    color: #6e47ec;
}

.hallow-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.hallow-buttons a {
    text-decoration: none;
    text-decoration: none;
    background-color: #00000000;
    color: #fcfcfc;
    border-color: #333333;
    border-width: 30px;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-right: 1rem;

    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .3);
    transition: background-color 0.3s ease-in;
}

.hallow-buttons a:hover {
    background-color: #dddddd;
    color: #444444;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.buttons a {
    text-decoration: none;
    background-color: #fcfcfc;
    color: #333;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .3);
    transition: background-color 0.3s ease-in;
}

.buttons a:hover {
    background-color: #ffffff;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .profile-text {
        padding-left: 0;
        padding-right: 0;
    }

    .buttons a {
        margin-right: 0.5rem;
    }
}